.app {
    width: 1280px;
    height: 720px;
}

.msgbodytop {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

.msgbody {
    color: #f2f2f2;
    padding: 5px;
    z-index: 9999;
    margin-left: 60px;
    margin-right: 60px;
    top: 0;
}

.text {
    margin-left: 5px;
    font-size: 20px;
    font-family: gilroy, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logo-container {
    width: 100%;
    height: 100px;
    ;
    background: black;
}

.message {
    font-size: 40px;
    font-family: gilroy;
    color: #ff004f;
    font-weight: bold;
}

.size {
    font-size: 18px;
}

@font-face {
    font-family: gilroy;
    src: url('./fonts/gilroy-semibold-webfont.woff2');
}